p,span {
    font-family: 'roboto', sans-serif;
}
h1,h2,h3,h4,h5,h6,a{
    font-family: 'rubik' sans-serif;
}
img{
    max-width: 100%;
}
.gray-bg{
    background-color: #f9fafb;
}

/* Css own*/

body .btn-primary{
    background-color: #e73a3e !important;
    border-color: #e73a3e;
    padding: 12px 35px;
    font-size: 16px;

    position: relative;
    z-index: 1;
}
body .btn-primary:hover{
    border-color: #111;
}
body .btn-primary::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0%;
    height: 100%;
    background-color: #111;
    border-color: #111;
    z-index: -1;
    transition: .5s;
}
body .btn-primary:hover::after{
    width: 100%;
}

.main-header .container-fluid, .slider-section .container-fluid{
    max-width: 1480px;
}

/* Menu */
.main-header{
    background-color: white;
}
.menu-all-list li a{
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    color: #111;
    font-weight: 500;
}

.header-search{
    width: 50px;
    font-size: 22px;
    text-align: center;
    margin-right: 24px;
    border-right: 1px solid #ddd;
}
.header-phone{
    width: 220px;
}
.header-call-icon{
    font-size: 34px;
    color: #e73a3e;
}
.header-call-info span{
    color: #606060;
}
.header-call-info a{
    font-weight: 500;
    color: #111;
    text-decoration: none;
    font-size: 18px;
}

/* DropDown menu*/
.menu-all-list {
    position: relative;
}
.menu-all-list li ul{
    list-style: none;
    width: 300px;
    position: absolute;
    left: 0;
    top: 140%;
    background-color: #fafafa;
    padding: 10px;

    opacity: 0;
    visibility: hidden;
    transition: all .5s ease-in-out;
}
.menu-all-list li:hover ul{
    opacity: 1;
    visibility: visible;
    top: 100%;
}
.menu-all-list li ul li{
    flex-direction: column;
}