body h1,h2,h3,h4,h5,h6,p{
    font-family: 'Work Sans', sans-serif;
}


.ff{
    z-index: 9;
    position: relative;
    top: 0;
    left: 0;
}

.col-xxl-4 span{
    float: left;
}

.col-xxl-4 h2{
    display: inline-block;
    margin-top: 10px;
    font-size: 27px;
    font-weight: 500;
    color: #010101;
    transition: .4s;
}

.col-xxl-4 img{
    width: 60px;
}

.container{
    margin-top: 10px;
}

.col-xxl-4 h2:hover{
    color: rgb(161, 161, 161);
}

.col-xxl-4 ul{
}
.col-xxl-4 ul li{
    line-height: 3;
    display: inline-block;
    font-size: 20px;
    padding: 0 12px;
}
.col-xxl-4 ul li a{
    text-decoration: none;
    color: #010101;
}
.col-xxl-4 ul li:hover > a{
    color: #0d6efd;
}

/* diohfhf */

.col-xxl-4 ul li{
    position: relative;
}
.col-xxl-4 ul li ul{
    position: absolute;
    top: 100%;
    left: 0;
    width: 282px;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}

.col-xxl-4 ul li ul{
    opacity: 0;
    visibility: hidden;
    transition: .4s;
    transform-origin: top;
    transform: scaleY(0);
}

.col-xxl-4 ul li:hover ul{
    opacity: 1;
    visibility: visible;
    transform: scaleY(1);
}

.col-xxl-4 ul li ul li a{
    display: block;
    border-bottom: 1px solid #ddd;
}

/* njffjfj */


.kala-lala{
    background: url(./mbr-10.jpg) no-repeat center center;
    background-size: cover;
    padding: 200px 0;
    position: relative;
    z-index: 1;
}

.kala-lala::before{
    content: "";
    background: rgba(0, 0, 0, .5);
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.dj-kalia p{
    font-size: 25px;
    font-weight: 300;
    color: #ffff;
    margin-bottom: 30px;
}

.dj-kalia h2{
    font-size: 45px;
    color: #ffff;
    font-weight: 500;
    margin-bottom: 30px;
}

.gaja{
    width: 300px;
    padding: 15px 0;
    border-radius: 5px;
    border: 1px solid green;
    /* margin-right: 10px; */
}

.gaja:focus{
    box-shadow: 4px 4px 20px 4px rgba(98, 120, 223, .5);
    border: 1px solid white;
}

.raja{
    border: none;
    background: green;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 18px 82px;
}



.raja:hover{
    background: white;
    color: #0d6efd;
    box-shadow: 4px 4px 20px 4px rgba(98, 120, 223, .5);
}
